USE [perseus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSins_dboseed_vials]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MSins_dboseed_vials]
    @c1 int,
    @c2 nvarchar(30),
    @c3 varchar(20),
    @c4 date,
    @c5 nvarchar(10),
    @c6 nvarchar(10),
    @c7 nvarchar(250),
    @c8 numeric(10,2),
    @c9 numeric(10,2),
    @c10 numeric(10,2),
    @c11 varchar(30),
    @c12 varchar(50),
    @c13 int,
    @c14 int,
    @c15 int,
    @c16 varchar(5),
    @c17 varchar(5),
    @c18 varchar(5),
    @c19 varchar(5),
    @c20 varchar(5),
    @c21 varchar(5),
    @c22 numeric(10,2)
as
begin  
	insert into [demeter].[seed_vials](
		[id],
		[strain],
		[clone_id],
		[end_date],
		[nat_plating_seedvial],
		[nat_plating_48hr_od],
		[contamination_testing_notes],
		[nr_to_historical],
		[pa_to_historical],
		[jet_to_historical],
		[project],
		[growth_media],
		[antibioticos_inventory],
		[campinas_inventory],
		[tandl_inventory],
		[viability_pre_na],
		[ssod_to_historical_na],
		[uv_fene_to_historical_na],
		[nr_to_historical_na],
		[pa_to_historical_na],
		[jet_to_historical_na],
		[uv_fene_to_historical]
	) values (
    @c1,
    @c2,
    @c3,
    @c4,
    @c5,
    @c6,
    @c7,
    @c8,
    @c9,
    @c10,
    @c11,
    @c12,
    @c13,
    @c14,
    @c15,
    @c16,
    @c17,
    @c18,
    @c19,
    @c20,
    @c21,
    @c22	) 
end  
GO
ALTER AUTHORIZATION ON [dbo].[sp_MSins_dboseed_vials] TO  SCHEMA OWNER 
GO
