USE [perseus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSupd_dbobarcodes]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MSupd_dbobarcodes]
		@c1 int = NULL,
		@c2 varchar(50) = NULL,
		@c3 int = NULL,
		@pkc1 int = NULL,
		@bitmap binary(1)
as
begin  
	declare @primarykey_text nvarchar(100) = ''

update [demeter].[barcodes] set
		[barcode] = case substring(@bitmap,1,1) & 2 when 2 then @c2 else [barcode] end,
		[seedvial_id] = case substring(@bitmap,1,1) & 4 when 4 then @c3 else [seedvial_id] end
	where [id] = @pkc1
if @@rowcount = 0
    if @@microsoftversion>0x07320000
		Begin
			if exists (Select * from sys.all_parameters where object_id = OBJECT_ID('sp_MSreplraiserror') and [name] = '@param3')
			Begin
				
				set @primarykey_text = @primarykey_text + '[id] = ' + convert(nvarchar(100),@pkc1,1)
				exec sp_MSreplraiserror @errorid=20598, @param1=N'[demeter].[barcodes]', @param2=@primarykey_text, @param3=13233 
			End
			Else
				exec sp_MSreplraiserror @errorid=20598
		End
end 
GO
ALTER AUTHORIZATION ON [dbo].[sp_MSupd_dbobarcodes] TO  SCHEMA OWNER 
GO
