USE [perseus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSins_dbobarcodes]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MSins_dbobarcodes]
    @c1 int,
    @c2 varchar(50),
    @c3 int
as
begin  
	insert into [demeter].[barcodes](
		[id],
		[barcode],
		[seedvial_id]
	) values (
    @c1,
    @c2,
    @c3	) 
end  
GO
ALTER AUTHORIZATION ON [dbo].[sp_MSins_dbobarcodes] TO  SCHEMA OWNER 
GO
