USE [perseus]
GO
/****** Object:  StoredProcedure [dbo].[TransitionToMaterial]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TransitionToMaterial] @TransitionUid VARCHAR(50), @MaterialUid VARCHAR(50) AS
	INSERT INTO transition_material (material_id, transition_id) VALUES (@MaterialUid, @TransitionUid)
GO
ALTER AUTHORIZATION ON [dbo].[TransitionToMaterial] TO  SCHEMA OWNER 
GO
