USE [perseus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSdel_dbobarcodes]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MSdel_dbobarcodes]
		@pkc1 int
as
begin  
	declare @primarykey_text nvarchar(100) = ''
	delete [demeter].[barcodes]
	where [id] = @pkc1
if @@rowcount = 0
    if @@microsoftversion>0x07320000
		Begin
			if exists (Select * from sys.all_parameters where object_id = OBJECT_ID('sp_MSreplraiserror') and [name] = '@param3')
			Begin
				
				set @primarykey_text = @primarykey_text + '[id] = ' + convert(nvarchar(100),@pkc1,1)
				exec sp_MSreplraiserror @errorid=20598, @param1=N'[demeter].[barcodes]', @param2=@primarykey_text, @param3=13234 
			End
			Else
				exec sp_MSreplraiserror @errorid=20598
		End
end  
GO
ALTER AUTHORIZATION ON [dbo].[sp_MSdel_dbobarcodes] TO  SCHEMA OWNER 
GO
