USE [perseus]
GO
/****** Object:  StoredProcedure [dbo].[MaterialToTransition]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MaterialToTransition] @MaterialUid VARCHAR(50), @TransitionUid VARCHAR(50) AS
	INSERT INTO material_transition (material_id, transition_id) VALUES (@MaterialUid, @TransitionUid)
GO
ALTER AUTHORIZATION ON [dbo].[MaterialToTransition] TO  SCHEMA OWNER 
GO
