USE [perseus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSupd_dboseed_vials]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MSupd_dboseed_vials]
		@c1 int = NULL,
		@c2 nvarchar(30) = NULL,
		@c3 varchar(20) = NULL,
		@c4 date = NULL,
		@c5 nvarchar(10) = NULL,
		@c6 nvarchar(10) = NULL,
		@c7 nvarchar(250) = NULL,
		@c8 numeric(10,2) = NULL,
		@c9 numeric(10,2) = NULL,
		@c10 numeric(10,2) = NULL,
		@c11 varchar(30) = NULL,
		@c12 varchar(50) = NULL,
		@c13 int = NULL,
		@c14 int = NULL,
		@c15 int = NULL,
		@c16 varchar(5) = NULL,
		@c17 varchar(5) = NULL,
		@c18 varchar(5) = NULL,
		@c19 varchar(5) = NULL,
		@c20 varchar(5) = NULL,
		@c21 varchar(5) = NULL,
		@c22 numeric(10,2) = NULL,
		@pkc1 int = NULL,
		@bitmap binary(3)
as
begin  
	declare @primarykey_text nvarchar(100) = ''

update [demeter].[seed_vials] set
		[strain] = case substring(@bitmap,1,1) & 2 when 2 then @c2 else [strain] end,
		[clone_id] = case substring(@bitmap,1,1) & 4 when 4 then @c3 else [clone_id] end,
		[end_date] = case substring(@bitmap,1,1) & 8 when 8 then @c4 else [end_date] end,
		[nat_plating_seedvial] = case substring(@bitmap,1,1) & 16 when 16 then @c5 else [nat_plating_seedvial] end,
		[nat_plating_48hr_od] = case substring(@bitmap,1,1) & 32 when 32 then @c6 else [nat_plating_48hr_od] end,
		[contamination_testing_notes] = case substring(@bitmap,1,1) & 64 when 64 then @c7 else [contamination_testing_notes] end,
		[nr_to_historical] = case substring(@bitmap,1,1) & 128 when 128 then @c8 else [nr_to_historical] end,
		[pa_to_historical] = case substring(@bitmap,2,1) & 1 when 1 then @c9 else [pa_to_historical] end,
		[jet_to_historical] = case substring(@bitmap,2,1) & 2 when 2 then @c10 else [jet_to_historical] end,
		[project] = case substring(@bitmap,2,1) & 4 when 4 then @c11 else [project] end,
		[growth_media] = case substring(@bitmap,2,1) & 8 when 8 then @c12 else [growth_media] end,
		[antibioticos_inventory] = case substring(@bitmap,2,1) & 16 when 16 then @c13 else [antibioticos_inventory] end,
		[campinas_inventory] = case substring(@bitmap,2,1) & 32 when 32 then @c14 else [campinas_inventory] end,
		[tandl_inventory] = case substring(@bitmap,2,1) & 64 when 64 then @c15 else [tandl_inventory] end,
		[viability_pre_na] = case substring(@bitmap,2,1) & 128 when 128 then @c16 else [viability_pre_na] end,
		[ssod_to_historical_na] = case substring(@bitmap,3,1) & 1 when 1 then @c17 else [ssod_to_historical_na] end,
		[uv_fene_to_historical_na] = case substring(@bitmap,3,1) & 2 when 2 then @c18 else [uv_fene_to_historical_na] end,
		[nr_to_historical_na] = case substring(@bitmap,3,1) & 4 when 4 then @c19 else [nr_to_historical_na] end,
		[pa_to_historical_na] = case substring(@bitmap,3,1) & 8 when 8 then @c20 else [pa_to_historical_na] end,
		[jet_to_historical_na] = case substring(@bitmap,3,1) & 16 when 16 then @c21 else [jet_to_historical_na] end,
		[uv_fene_to_historical] = case substring(@bitmap,3,1) & 32 when 32 then @c22 else [uv_fene_to_historical] end
	where [id] = @pkc1
if @@rowcount = 0
    if @@microsoftversion>0x07320000
		Begin
			if exists (Select * from sys.all_parameters where object_id = OBJECT_ID('sp_MSreplraiserror') and [name] = '@param3')
			Begin
				
				set @primarykey_text = @primarykey_text + '[id] = ' + convert(nvarchar(100),@pkc1,1)
				exec sp_MSreplraiserror @errorid=20598, @param1=N'[demeter].[seed_vials]', @param2=@primarykey_text, @param3=13233 
			End
			Else
				exec sp_MSreplraiserror @errorid=20598
		End
end 
GO
ALTER AUTHORIZATION ON [dbo].[sp_MSupd_dboseed_vials] TO  SCHEMA OWNER 
GO
