USE [perseus]
GO
/****** Object:  Table [dbo].[field_map_display_type_user]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_map_display_type_user](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[field_map_display_type_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [field_map_display_type_user_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[field_map_display_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[field_map_display_type_user] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[field_map_display_type_user]  WITH CHECK ADD  CONSTRAINT [field_map_display_type_user_FK_2] FOREIGN KEY([user_id])
REFERENCES [dbo].[perseus_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[field_map_display_type_user] CHECK CONSTRAINT [field_map_display_type_user_FK_2]
GO
