USE [perseus]
GO
/****** Object:  Table [dbo].[material_inventory_threshold_notify_user]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_inventory_threshold_notify_user](
	[threshold_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_material_inventory_threshold_notify_user] PRIMARY KEY CLUSTERED 
(
	[threshold_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[material_inventory_threshold_notify_user] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[material_inventory_threshold_notify_user]  WITH CHECK ADD  CONSTRAINT [FK_mit_notify_user_threshold] FOREIGN KEY([threshold_id])
REFERENCES [dbo].[material_inventory_threshold] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[material_inventory_threshold_notify_user] CHECK CONSTRAINT [FK_mit_notify_user_threshold]
GO
ALTER TABLE [dbo].[material_inventory_threshold_notify_user]  WITH CHECK ADD  CONSTRAINT [FK_mit_notify_user_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[material_inventory_threshold_notify_user] CHECK CONSTRAINT [FK_mit_notify_user_user]
GO
