USE [perseus]
GO
/****** Object:  Table [dbo].[workflow_step]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflow_step](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[left_id] [int] NULL,
	[right_id] [int] NULL,
	[scope_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[smurf_id] [int] NULL,
	[goo_type_id] [int] NULL,
	[property_id] [int] NULL,
	[label] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[optional] [tinyint] NOT NULL,
	[goo_amount_unit_id] [int] NULL,
	[depth] [int] NULL,
	[description] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RECIPE_FACTOR] [float] NULL,
	[parent_id] [int] NULL,
	[child_order] [int] NULL,
 CONSTRAINT [workflow_step_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[workflow_step] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[workflow_step] ADD  CONSTRAINT [DF_workflow_step_optional]  DEFAULT ((0)) FOR [optional]
GO
ALTER TABLE [dbo].[workflow_step] ADD  CONSTRAINT [DF_workflow_step_goo_amount_unit_id]  DEFAULT ((61)) FOR [goo_amount_unit_id]
GO
ALTER TABLE [dbo].[workflow_step]  WITH CHECK ADD  CONSTRAINT [FK_workflow_step_goo_type] FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[workflow_step] CHECK CONSTRAINT [FK_workflow_step_goo_type]
GO
ALTER TABLE [dbo].[workflow_step]  WITH CHECK ADD  CONSTRAINT [FK_workflow_step_property] FOREIGN KEY([property_id])
REFERENCES [dbo].[property] ([id])
GO
ALTER TABLE [dbo].[workflow_step] CHECK CONSTRAINT [FK_workflow_step_property]
GO
ALTER TABLE [dbo].[workflow_step]  WITH CHECK ADD  CONSTRAINT [FK_workflow_step_smurf] FOREIGN KEY([smurf_id])
REFERENCES [dbo].[smurf] ([id])
GO
ALTER TABLE [dbo].[workflow_step] CHECK CONSTRAINT [FK_workflow_step_smurf]
GO
ALTER TABLE [dbo].[workflow_step]  WITH CHECK ADD  CONSTRAINT [FK_workflow_step_workflow] FOREIGN KEY([scope_id])
REFERENCES [dbo].[workflow] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[workflow_step] CHECK CONSTRAINT [FK_workflow_step_workflow]
GO
ALTER TABLE [dbo].[workflow_step]  WITH CHECK ADD  CONSTRAINT [workflow_step_unit_FK_1] FOREIGN KEY([goo_amount_unit_id])
REFERENCES [dbo].[unit] ([id])
GO
ALTER TABLE [dbo].[workflow_step] CHECK CONSTRAINT [workflow_step_unit_FK_1]
GO
/****** Object:  Trigger [dbo].[UpdateWorkflowStepDepth]    Script Date: 12/12/2025 11:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateWorkflowStepDepth] ON [dbo].[workflow_step]
FOR UPDATE, INSERT AS
BEGIN
	IF (UPDATE(scope_id) OR UPDATE(left_id) OR UPDATE(right_id))
	BEGIN
		UPDATE rw
		SET rw.depth = d.parent_count
		FROM workflow_step rw
		JOIN inserted ins ON ins.id = rw.id
		JOIN (
			SELECT rw.id, COUNT(*) AS parent_count 
			FROM workflow_step rw
			JOIN workflow_step p_rw ON rw.scope_id = p_rw.scope_id AND p_rw.left_id <= rw.left_id AND p_rw.right_id >= rw.right_id
			GROUP BY rw.id
		) d ON d.id = rw.id
	END
END
GO
ALTER TABLE [dbo].[workflow_step] ENABLE TRIGGER [UpdateWorkflowStepDepth]
GO
