USE [perseus]
GO
/****** Object:  Table [dbo].[container_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container_type](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[is_parent] [int] NOT NULL,
	[is_equipment] [int] NOT NULL,
	[is_single] [int] NOT NULL,
	[is_restricted] [int] NOT NULL,
	[is_gooable] [int] NOT NULL,
 CONSTRAINT [container_type_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[container_type] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[container_type] ADD  DEFAULT ((1)) FOR [is_parent]
GO
ALTER TABLE [dbo].[container_type] ADD  DEFAULT ((0)) FOR [is_equipment]
GO
ALTER TABLE [dbo].[container_type] ADD  DEFAULT ((1)) FOR [is_single]
GO
ALTER TABLE [dbo].[container_type] ADD  DEFAULT ((0)) FOR [is_restricted]
GO
ALTER TABLE [dbo].[container_type] ADD  DEFAULT ((0)) FOR [is_gooable]
GO
