USE [perseus]
GO
/****** Object:  Table [dbo].[poll]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poll](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[smurf_property_id] [int] NOT NULL,
	[fatsmurf_reading_id] [int] NOT NULL,
	[value] [varchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[standard_deviation] [float] NULL,
	[detection] [int] NULL,
	[limit_of_detection] [float] NULL,
	[limit_of_quantification] [float] NULL,
	[lower_calibration_limit] [float] NULL,
	[upper_calibration_limit] [float] NULL,
	[bounds_limit] [int] NULL,
 CONSTRAINT [poll_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
 CONSTRAINT [UQ__poll__2EDADB146383C8BA] UNIQUE NONCLUSTERED 
(
	[fatsmurf_reading_id] ASC,
	[smurf_property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[poll] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[poll]  WITH CHECK ADD  CONSTRAINT [poll_fatsmurf_reading_FK_1] FOREIGN KEY([fatsmurf_reading_id])
REFERENCES [dbo].[fatsmurf_reading] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[poll] CHECK CONSTRAINT [poll_fatsmurf_reading_FK_1]
GO
ALTER TABLE [dbo].[poll]  WITH CHECK ADD  CONSTRAINT [poll_smurf_property_FK_1] FOREIGN KEY([smurf_property_id])
REFERENCES [dbo].[smurf_property] ([id])
GO
ALTER TABLE [dbo].[poll] CHECK CONSTRAINT [poll_smurf_property_FK_1]
GO
