USE [perseus]
GO
/****** Object:  Table [dbo].[smurf]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smurf](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[class_id] [int] NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[themis_method_id] [int] NULL,
	[disabled] [int] NOT NULL,
 CONSTRAINT [smurf_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[smurf] TO  SCHEMA OWNER 
GO
GRANT INSERT ON [dbo].[smurf] TO [add_smurfs_and_units] AS [dbo]
GO
GRANT SELECT ON [dbo].[smurf] TO [add_smurfs_and_units] AS [dbo]
GO
GRANT UPDATE ON [dbo].[smurf] TO [add_smurfs_and_units] AS [dbo]
GO
ALTER TABLE [dbo].[smurf] ADD  DEFAULT ((0)) FOR [disabled]
GO
