USE [perseus]
GO
/****** Object:  Table [dbo].[saved_search]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saved_search](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[class_id] [int] NULL,
	[name] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
	[is_private] [int] NOT NULL,
	[include_downstream] [int] NOT NULL,
	[parameter_string] [varchar](2500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [saved_search_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[added_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[saved_search] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[saved_search] ADD  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[saved_search] ADD  DEFAULT ((1)) FOR [is_private]
GO
ALTER TABLE [dbo].[saved_search] ADD  DEFAULT ((0)) FOR [include_downstream]
GO
ALTER TABLE [dbo].[saved_search]  WITH CHECK ADD  CONSTRAINT [saved_search_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[saved_search] CHECK CONSTRAINT [saved_search_FK_1]
GO
