USE [perseus]
GO
/****** Object:  Table [dbo].[smurf_group_member]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smurf_group_member](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[smurf_group_id] [int] NOT NULL,
	[smurf_id] [int] NOT NULL,
 CONSTRAINT [smurf_group_member_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[smurf_group_id] ASC,
	[smurf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[smurf_group_member] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[smurf_group_member]  WITH CHECK ADD  CONSTRAINT [smurf_group_member_FK_1] FOREIGN KEY([smurf_id])
REFERENCES [dbo].[smurf] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[smurf_group_member] CHECK CONSTRAINT [smurf_group_member_FK_1]
GO
ALTER TABLE [dbo].[smurf_group_member]  WITH CHECK ADD  CONSTRAINT [smurf_group_member_FK_2] FOREIGN KEY([smurf_group_id])
REFERENCES [dbo].[smurf_group] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[smurf_group_member] CHECK CONSTRAINT [smurf_group_member_FK_2]
GO
