USE [perseus]
GO
/****** Object:  Table [dbo].[fatsmurf]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fatsmurf](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[smurf_id] [int] NOT NULL,
	[recycled_bottoms_id] [int] NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[added_on] [datetime] NOT NULL,
	[run_on] [datetime] NULL,
	[duration] [float] NULL,
	[added_by] [int] NOT NULL,
	[themis_sample_id] [int] NULL,
	[uid] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[run_complete]  AS (case when [duration] IS NULL then getdate() else dateadd(minute,[duration]*(60),[run_on]) end),
	[container_id] [int] NULL,
	[organization_id] [int] NULL,
	[workflow_step_id] [int] NULL,
	[updated_on] [datetime] NULL,
	[inserted_on] [datetime] NULL,
	[triton_task_id] [int] NULL,
 CONSTRAINT [fatsmurf_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[fatsmurf] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_fatsmurf_container_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_fatsmurf_container_id] ON [dbo].[fatsmurf]
(
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [ix_fatsmurf_recipe_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_fatsmurf_recipe_id] ON [dbo].[fatsmurf]
(
	[smurf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_fatsmurf_smurf_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_fatsmurf_smurf_id] ON [dbo].[fatsmurf]
(
	[smurf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_themis_sample_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_themis_sample_id] ON [dbo].[fatsmurf]
(
	[themis_sample_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniq_fs_uid]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uniq_fs_uid] ON [dbo].[fatsmurf]
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fatsmurf] ADD  CONSTRAINT [DF__fatsmurf__added___3B75D760]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[fatsmurf] ADD  CONSTRAINT [DF_fatsmurf_organization_id]  DEFAULT ((1)) FOR [organization_id]
GO
ALTER TABLE [dbo].[fatsmurf] ADD  CONSTRAINT [DF__fasmurf__updated]  DEFAULT (getdate()) FOR [updated_on]
GO
ALTER TABLE [dbo].[fatsmurf] ADD  DEFAULT (getdate()) FOR [inserted_on]
GO
ALTER TABLE [dbo].[fatsmurf]  WITH CHECK ADD  CONSTRAINT [fk_fatsmurf_smurf_id] FOREIGN KEY([smurf_id])
REFERENCES [dbo].[smurf] ([id])
GO
ALTER TABLE [dbo].[fatsmurf] CHECK CONSTRAINT [fk_fatsmurf_smurf_id]
GO
ALTER TABLE [dbo].[fatsmurf]  WITH CHECK ADD  CONSTRAINT [FK_fatsmurf_workflow_step] FOREIGN KEY([workflow_step_id])
REFERENCES [dbo].[workflow_step] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[fatsmurf] CHECK CONSTRAINT [FK_fatsmurf_workflow_step]
GO
ALTER TABLE [dbo].[fatsmurf]  WITH CHECK ADD  CONSTRAINT [fs_container_id_FK_1] FOREIGN KEY([container_id])
REFERENCES [dbo].[container] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[fatsmurf] CHECK CONSTRAINT [fs_container_id_FK_1]
GO
ALTER TABLE [dbo].[fatsmurf]  WITH CHECK ADD  CONSTRAINT [fs_organization_FK_1] FOREIGN KEY([organization_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
ALTER TABLE [dbo].[fatsmurf] CHECK CONSTRAINT [fs_organization_FK_1]
GO
/****** Object:  Trigger [dbo].[trg_FatSmurfUpdatedOn]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_FatSmurfUpdatedOn]
ON [dbo].[fatsmurf]
AFTER UPDATE
AS
    UPDATE dbo.fatsmurf
    SET updated_on = GETDATE()
    WHERE id IN
      (SELECT DISTINCT id FROM Inserted)
GO
ALTER TABLE [dbo].[fatsmurf] ENABLE TRIGGER [trg_FatSmurfUpdatedOn]
GO
