USE [perseus]
GO
/****** Object:  Table [dbo].[cm_project]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_project](
	[project_id] [smallint] NOT NULL,
	[label] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[is_active] [bit] NOT NULL,
	[display_order] [smallint] NOT NULL,
	[group_id] [int] NULL,
 CONSTRAINT [PK_project] PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[cm_project] TO  SCHEMA OWNER 
GO
