USE [perseus]
GO
/****** Object:  Table [dbo].[m_upstream_dirty_leaves]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_upstream_dirty_leaves](
	[material_uid] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[m_upstream_dirty_leaves] TO  SCHEMA OWNER 
GO
