USE [perseus]
GO
/****** Object:  Table [dbo].[field_map]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_map](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[field_map_block_id] [int] NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[display_order] [int] NULL,
	[setter] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[lookup] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[lookup_service] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[nullable] [int] NULL,
	[field_map_type_id] [int] NOT NULL,
	[database_id] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[save_sequence] [int] NOT NULL,
	[onchange] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[field_map_set_id] [int] NOT NULL,
 CONSTRAINT [combined_field_map_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[field_map] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[field_map]  WITH CHECK ADD  CONSTRAINT [combined_field_map_FK_1] FOREIGN KEY([field_map_block_id])
REFERENCES [dbo].[field_map_block] ([id])
GO
ALTER TABLE [dbo].[field_map] CHECK CONSTRAINT [combined_field_map_FK_1]
GO
ALTER TABLE [dbo].[field_map]  WITH CHECK ADD  CONSTRAINT [combined_field_map_FK_2] FOREIGN KEY([field_map_type_id])
REFERENCES [dbo].[field_map_type] ([id])
GO
ALTER TABLE [dbo].[field_map] CHECK CONSTRAINT [combined_field_map_FK_2]
GO
ALTER TABLE [dbo].[field_map]  WITH CHECK ADD  CONSTRAINT [field_map_field_map_set_FK_1] FOREIGN KEY([field_map_set_id])
REFERENCES [dbo].[field_map_set] ([id])
GO
ALTER TABLE [dbo].[field_map] CHECK CONSTRAINT [field_map_field_map_set_FK_1]
GO
