USE [perseus]
GO
/****** Object:  Table [dbo].[goo]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goo](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
	[original_volume] [float] NULL,
	[original_mass] [float] NULL,
	[goo_type_id] [int] NOT NULL,
	[manufacturer_id] [int] NOT NULL,
	[received_on] [date] NULL,
	[uid] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[project_id] [smallint] NULL,
	[container_id] [int] NULL,
	[workflow_step_id] [int] NULL,
	[updated_on] [datetime] NULL,
	[inserted_on] [datetime] NULL,
	[triton_task_id] [int] NULL,
	[recipe_id] [int] NULL,
	[recipe_part_id] [int] NULL,
	[catalog_label] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [goo_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[goo] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_goo_added_on]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_goo_added_on] ON [dbo].[goo]
(
	[added_on] ASC
)
INCLUDE([uid],[container_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [ix_goo_container_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_goo_container_id] ON [dbo].[goo]
(
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_goo_recipe_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_goo_recipe_id] ON [dbo].[goo]
(
	[recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [ix_goo_recipe_part_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_goo_recipe_part_id] ON [dbo].[goo]
(
	[recipe_part_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniq_goo_uid]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uniq_goo_uid] ON [dbo].[goo]
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[goo] ADD  CONSTRAINT [DF__goo__added_on__1B0907CE]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[goo] ADD  CONSTRAINT [DF__goo__original_vo__1BFD2C07]  DEFAULT ((0)) FOR [original_volume]
GO
ALTER TABLE [dbo].[goo] ADD  CONSTRAINT [DF__goo__original_ma__1DE57479]  DEFAULT ((0)) FOR [original_mass]
GO
ALTER TABLE [dbo].[goo] ADD  CONSTRAINT [DF__goo__goo_type_id__1FCDBCEB]  DEFAULT ((8)) FOR [goo_type_id]
GO
ALTER TABLE [dbo].[goo] ADD  CONSTRAINT [def_manufacturer]  DEFAULT ((1)) FOR [manufacturer_id]
GO
ALTER TABLE [dbo].[goo] ADD  CONSTRAINT [DF__goo__updated]  DEFAULT (getdate()) FOR [updated_on]
GO
ALTER TABLE [dbo].[goo] ADD  DEFAULT (getdate()) FOR [inserted_on]
GO
ALTER TABLE [dbo].[goo]  WITH CHECK ADD  CONSTRAINT [container_id_FK_1] FOREIGN KEY([container_id])
REFERENCES [dbo].[container] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[goo] CHECK CONSTRAINT [container_id_FK_1]
GO
ALTER TABLE [dbo].[goo]  WITH CHECK ADD  CONSTRAINT [fk_goo_recipe] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipe] ([id])
GO
ALTER TABLE [dbo].[goo] CHECK CONSTRAINT [fk_goo_recipe]
GO
ALTER TABLE [dbo].[goo]  WITH CHECK ADD  CONSTRAINT [fk_goo_recipe_part] FOREIGN KEY([recipe_part_id])
REFERENCES [dbo].[recipe_part] ([id])
GO
ALTER TABLE [dbo].[goo] CHECK CONSTRAINT [fk_goo_recipe_part]
GO
ALTER TABLE [dbo].[goo]  WITH CHECK ADD  CONSTRAINT [FK_goo_workflow_step] FOREIGN KEY([workflow_step_id])
REFERENCES [dbo].[workflow_step] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[goo] CHECK CONSTRAINT [FK_goo_workflow_step]
GO
ALTER TABLE [dbo].[goo]  WITH CHECK ADD  CONSTRAINT [goo_FK_1] FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[goo] CHECK CONSTRAINT [goo_FK_1]
GO
ALTER TABLE [dbo].[goo]  WITH CHECK ADD  CONSTRAINT [goo_FK_4] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[goo] CHECK CONSTRAINT [goo_FK_4]
GO
ALTER TABLE [dbo].[goo]  WITH CHECK ADD  CONSTRAINT [manufacturer_FK_1] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
ALTER TABLE [dbo].[goo] CHECK CONSTRAINT [manufacturer_FK_1]
GO
/****** Object:  Trigger [dbo].[trg_GooUpdatedOn]    Script Date: 12/12/2025 11:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_GooUpdatedOn]
ON [dbo].[goo]
AFTER UPDATE
AS
    UPDATE dbo.goo
    SET updated_on = GETDATE()
    WHERE id IN
      (SELECT DISTINCT id FROM Inserted)
GO
ALTER TABLE [dbo].[goo] ENABLE TRIGGER [trg_GooUpdatedOn]
GO
