USE [perseus]
GO
/****** Object:  Table [dbo].[recipe]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[goo_type_id] [int] NOT NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sop] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[workflow_id] [int] NULL,
	[added_by] [int] NOT NULL,
	[added_on] [datetime] NOT NULL,
	[is_preferred] [bit] NOT NULL,
	[QC] [bit] NOT NULL,
	[is_archived] [bit] NOT NULL,
	[feed_type_id] [int] NULL,
	[stock_concentration] [float] NULL,
	[sterilization_method] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[inoculant_percent] [float] NULL,
	[post_inoc_volume_ml] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[recipe] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_recipe_goo_type_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_recipe_goo_type_id] ON [dbo].[recipe]
(
	[goo_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[recipe] ADD  DEFAULT ((0)) FOR [is_preferred]
GO
ALTER TABLE [dbo].[recipe] ADD  DEFAULT ((0)) FOR [QC]
GO
ALTER TABLE [dbo].[recipe] ADD  DEFAULT ((0)) FOR [is_archived]
GO
ALTER TABLE [dbo].[recipe]  WITH CHECK ADD FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[recipe]  WITH CHECK ADD FOREIGN KEY([feed_type_id])
REFERENCES [dbo].[feed_type] ([id])
GO
ALTER TABLE [dbo].[recipe]  WITH CHECK ADD FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[recipe]  WITH CHECK ADD FOREIGN KEY([workflow_id])
REFERENCES [dbo].[workflow] ([id])
GO
