USE [perseus]
GO
/****** Object:  Table [dbo].[material_inventory_threshold]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_inventory_threshold](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_type_id] [int] NOT NULL,
	[min_item_count] [int] NULL,
	[max_item_count] [int] NULL,
	[min_volume_l] [float] NULL,
	[max_volume_l] [float] NULL,
	[min_mass_kg] [float] NULL,
	[max_mass_kg] [float] NULL,
	[created_by_id] [int] NOT NULL,
	[created_on] [datetime2](7) NOT NULL,
	[updated_by_id] [int] NULL,
	[updated_on] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_material_inventory_threshold_material_type] UNIQUE NONCLUSTERED 
(
	[material_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[material_inventory_threshold] TO  SCHEMA OWNER 
GO
/****** Object:  Index [IX_material_inventory_threshold_material_type_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_material_inventory_threshold_material_type_id] ON [dbo].[material_inventory_threshold]
(
	[material_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[material_inventory_threshold] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[material_inventory_threshold]  WITH CHECK ADD  CONSTRAINT [FK_material_inventory_threshold_created_by] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[material_inventory_threshold] CHECK CONSTRAINT [FK_material_inventory_threshold_created_by]
GO
ALTER TABLE [dbo].[material_inventory_threshold]  WITH CHECK ADD  CONSTRAINT [FK_material_inventory_threshold_material_type] FOREIGN KEY([material_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[material_inventory_threshold] CHECK CONSTRAINT [FK_material_inventory_threshold_material_type]
GO
ALTER TABLE [dbo].[material_inventory_threshold]  WITH CHECK ADD  CONSTRAINT [FK_material_inventory_threshold_updated_by] FOREIGN KEY([updated_by_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[material_inventory_threshold] CHECK CONSTRAINT [FK_material_inventory_threshold_updated_by]
GO
