USE [perseus]
GO
/****** Object:  Table [dbo].[fatsmurf_comment]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fatsmurf_comment](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[fatsmurf_id] [int] NOT NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
	[comment] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [fatsmurf_comment_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[fatsmurf_comment] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[fatsmurf_comment] ADD  CONSTRAINT [DF__fatsmurf___added__5629CD9C]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[fatsmurf_comment]  WITH CHECK ADD  CONSTRAINT [fatsmurf_comment_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[fatsmurf_comment] CHECK CONSTRAINT [fatsmurf_comment_FK_1]
GO
ALTER TABLE [dbo].[fatsmurf_comment]  WITH CHECK ADD  CONSTRAINT [fatsmurf_comment_FK_2] FOREIGN KEY([fatsmurf_id])
REFERENCES [dbo].[fatsmurf] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fatsmurf_comment] CHECK CONSTRAINT [fatsmurf_comment_FK_2]
GO
