USE [perseus]
GO
/****** Object:  Table [dbo].[workflow_section]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflow_section](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[workflow_id] [int] NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[starting_step_id] [int] NOT NULL,
 CONSTRAINT [workflow_section_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[workflow_id] ASC,
	[starting_step_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[workflow_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[workflow_section] TO  SCHEMA OWNER 
GO
/****** Object:  Index [uniq_starting_step]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uniq_starting_step] ON [dbo].[workflow_section]
(
	[starting_step_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[workflow_section]  WITH CHECK ADD  CONSTRAINT [workflow_section_FK_1] FOREIGN KEY([workflow_id])
REFERENCES [dbo].[workflow] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[workflow_section] CHECK CONSTRAINT [workflow_section_FK_1]
GO
ALTER TABLE [dbo].[workflow_section]  WITH CHECK ADD  CONSTRAINT [workflow_step_start_FK_1] FOREIGN KEY([starting_step_id])
REFERENCES [dbo].[workflow_step] ([id])
GO
ALTER TABLE [dbo].[workflow_section] CHECK CONSTRAINT [workflow_step_start_FK_1]
GO
