USE [perseus]
GO
/****** Object:  Table [dbo].[fatsmurf_history]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fatsmurf_history](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[history_id] [int] NOT NULL,
	[fatsmurf_id] [int] NOT NULL,
 CONSTRAINT [fatsmurf_history_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[fatsmurf_history] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_fatsmurf_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_fatsmurf_id] ON [dbo].[fatsmurf_history]
(
	[fatsmurf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fatsmurf_history]  WITH CHECK ADD  CONSTRAINT [fatsmurf_history_FK_1] FOREIGN KEY([history_id])
REFERENCES [dbo].[history] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fatsmurf_history] CHECK CONSTRAINT [fatsmurf_history_FK_1]
GO
ALTER TABLE [dbo].[fatsmurf_history]  WITH CHECK ADD  CONSTRAINT [fatsmurf_history_FK_2] FOREIGN KEY([fatsmurf_id])
REFERENCES [dbo].[fatsmurf] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fatsmurf_history] CHECK CONSTRAINT [fatsmurf_history_FK_2]
GO
