USE [perseus]
GO
/****** Object:  Table [dbo].[robot_log_container_sequence]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot_log_container_sequence](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[robot_log_id] [int] NOT NULL,
	[container_id] [int] NOT NULL,
	[sequence_type_id] [int] NOT NULL,
	[processed_on] [datetime] NULL,
 CONSTRAINT [robot_log_container_sequence_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[robot_log_id] ASC,
	[container_id] ASC,
	[sequence_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[robot_log_container_sequence] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_container_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_container_id] ON [dbo].[robot_log_container_sequence]
(
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[robot_log_container_sequence]  WITH CHECK ADD  CONSTRAINT [robot_log_container_sequence_FK_1] FOREIGN KEY([sequence_type_id])
REFERENCES [dbo].[sequence_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[robot_log_container_sequence] CHECK CONSTRAINT [robot_log_container_sequence_FK_1]
GO
ALTER TABLE [dbo].[robot_log_container_sequence]  WITH CHECK ADD  CONSTRAINT [robot_log_container_sequence_FK_2] FOREIGN KEY([container_id])
REFERENCES [dbo].[container] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[robot_log_container_sequence] CHECK CONSTRAINT [robot_log_container_sequence_FK_2]
GO
ALTER TABLE [dbo].[robot_log_container_sequence]  WITH CHECK ADD  CONSTRAINT [robot_log_container_sequence_FK_3] FOREIGN KEY([robot_log_id])
REFERENCES [dbo].[robot_log] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[robot_log_container_sequence] CHECK CONSTRAINT [robot_log_container_sequence_FK_3]
GO
