USE [perseus]
GO
/****** Object:  Table [dbo].[Scraper]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scraper](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NULL,
	[Message] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FileType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Filename] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FilenameSavedAs] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ReceivedFrom] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[File] [varbinary](max) NULL,
	[Result] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Complete] [bit] NULL,
	[ScraperID] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ScrapingStartedOn] [datetime] NULL,
	[ScrapingFinishedOn] [datetime] NULL,
	[ScrapingStatus] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ScraperSendTo] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ScraperMessage] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Active] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ControlFileID] [int] NULL,
	[DocumentID] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Scraper] TO  SCHEMA OWNER 
GO
GRANT DELETE ON [dbo].[Scraper] TO [Scraper] AS [dbo]
GO
GRANT INSERT ON [dbo].[Scraper] TO [Scraper] AS [dbo]
GO
GRANT SELECT ON [dbo].[Scraper] TO [Scraper] AS [dbo]
GO
GRANT UPDATE ON [dbo].[Scraper] TO [Scraper] AS [dbo]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ACTIVE]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [idx_ACTIVE] ON [dbo].[Scraper]
(
	[Active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
