USE [perseus]
GO
/****** Object:  Table [dbo].[material_transition]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_transition](
	[material_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[transition_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[added_on] [datetime] NOT NULL,
 CONSTRAINT [PK__material__78FCFD7E69FEE97B] PRIMARY KEY CLUSTERED 
(
	[material_id] ASC,
	[transition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[material_transition] TO  SCHEMA OWNER 
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_material_transition_transition_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_material_transition_transition_id] ON [dbo].[material_transition]
(
	[transition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[material_transition] ADD  CONSTRAINT [DF__material___added__7E6DC641]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[material_transition]  WITH NOCHECK ADD  CONSTRAINT [FK_material_transition_fatsmurf] FOREIGN KEY([transition_id])
REFERENCES [dbo].[fatsmurf] ([uid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[material_transition] CHECK CONSTRAINT [FK_material_transition_fatsmurf]
GO
ALTER TABLE [dbo].[material_transition]  WITH NOCHECK ADD  CONSTRAINT [FK_material_transition_goo] FOREIGN KEY([material_id])
REFERENCES [dbo].[goo] ([uid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[material_transition] CHECK CONSTRAINT [FK_material_transition_goo]
GO
