USE [perseus]
GO
/****** Object:  Table [dbo].[cm_application_group]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_application_group](
	[application_group_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[label] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_cm_application_group] PRIMARY KEY CLUSTERED 
(
	[application_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[cm_application_group] TO  SCHEMA OWNER 
GO
