USE [perseus]
GO
/****** Object:  Table [dbo].[robot_log_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot_log_type](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[auto_process] [int] NOT NULL,
	[destination_container_type_id] [int] NULL,
 CONSTRAINT [robot_log_type_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[robot_log_type] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[robot_log_type]  WITH CHECK ADD  CONSTRAINT [robot_log_type_FK_1] FOREIGN KEY([destination_container_type_id])
REFERENCES [dbo].[container_type] ([id])
GO
ALTER TABLE [dbo].[robot_log_type] CHECK CONSTRAINT [robot_log_type_FK_1]
GO
