USE [perseus]
GO
/****** Object:  Table [dbo].[recipe_project_assignment]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_project_assignment](
	[project_id] [smallint] NOT NULL,
	[recipe_id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[recipe_project_assignment] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[recipe_project_assignment]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipe] ([id])
GO
