USE [perseus]
GO
/****** Object:  Table [dbo].[fatsmurf_attachment]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fatsmurf_attachment](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[fatsmurf_id] [int] NOT NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
	[description] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[attachment_name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[attachment_mime_type] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[attachment] [image] NULL,
 CONSTRAINT [fatsmurf_attachment_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[fatsmurf_attachment] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[fatsmurf_attachment] ADD  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[fatsmurf_attachment]  WITH CHECK ADD  CONSTRAINT [fatsmurf_attachment_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[fatsmurf_attachment] CHECK CONSTRAINT [fatsmurf_attachment_FK_1]
GO
ALTER TABLE [dbo].[fatsmurf_attachment]  WITH CHECK ADD  CONSTRAINT [fatsmurf_attachment_FK_2] FOREIGN KEY([fatsmurf_id])
REFERENCES [dbo].[fatsmurf] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fatsmurf_attachment] CHECK CONSTRAINT [fatsmurf_attachment_FK_2]
GO
