USE [perseus]
GO
/****** Object:  Table [dbo].[fatsmurf_reading]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fatsmurf_reading](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[fatsmurf_id] [int] NOT NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
 CONSTRAINT [fatsmurf_reading_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[fatsmurf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[fatsmurf_reading] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_fsr_for_istd_view]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_fsr_for_istd_view] ON [dbo].[fatsmurf_reading]
(
	[fatsmurf_id] ASC
)
INCLUDE([id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fatsmurf_reading] ADD  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[fatsmurf_reading] ADD  DEFAULT ((1)) FOR [added_by]
GO
ALTER TABLE [dbo].[fatsmurf_reading]  WITH CHECK ADD  CONSTRAINT [creator_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[fatsmurf_reading] CHECK CONSTRAINT [creator_FK_1]
GO
ALTER TABLE [dbo].[fatsmurf_reading]  WITH CHECK ADD  CONSTRAINT [fatsmurf_reading_FK_1] FOREIGN KEY([fatsmurf_id])
REFERENCES [dbo].[fatsmurf] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fatsmurf_reading] CHECK CONSTRAINT [fatsmurf_reading_FK_1]
GO
