USE [perseus]
GO
/****** Object:  Table [dbo].[coa_spec]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coa_spec](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[coa_id] [int] NOT NULL,
	[property_id] [int] NOT NULL,
	[upper_bound] [float] NULL,
	[lower_bound] [float] NULL,
	[equal_bound] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[upper_equal_bound] [float] NULL,
	[lower_equal_bound] [float] NULL,
	[result_precision] [int] NULL,
 CONSTRAINT [coa_spec_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[coa_id] ASC,
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[coa_spec] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[coa_spec] ADD  DEFAULT ((0)) FOR [result_precision]
GO
ALTER TABLE [dbo].[coa_spec]  WITH CHECK ADD  CONSTRAINT [coa_spec_FK_1] FOREIGN KEY([coa_id])
REFERENCES [dbo].[coa] ([id])
GO
ALTER TABLE [dbo].[coa_spec] CHECK CONSTRAINT [coa_spec_FK_1]
GO
ALTER TABLE [dbo].[coa_spec]  WITH CHECK ADD  CONSTRAINT [coa_spec_FK_2] FOREIGN KEY([property_id])
REFERENCES [dbo].[property] ([id])
GO
ALTER TABLE [dbo].[coa_spec] CHECK CONSTRAINT [coa_spec_FK_2]
GO
