USE [perseus]
GO
/****** Object:  Table [dbo].[container_type_position]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container_type_position](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[parent_container_type_id] [int] NOT NULL,
	[child_container_type_id] [int] NULL,
	[position_name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[position_x_coordinate] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[position_y_coordinate] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [container_type_position_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[parent_container_type_id] ASC,
	[position_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[container_type_position] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[container_type_position]  WITH CHECK ADD  CONSTRAINT [container_type_position_FK_1] FOREIGN KEY([parent_container_type_id])
REFERENCES [dbo].[container_type] ([id])
GO
ALTER TABLE [dbo].[container_type_position] CHECK CONSTRAINT [container_type_position_FK_1]
GO
ALTER TABLE [dbo].[container_type_position]  WITH CHECK ADD  CONSTRAINT [container_type_position_FK_2] FOREIGN KEY([child_container_type_id])
REFERENCES [dbo].[container_type] ([id])
GO
ALTER TABLE [dbo].[container_type_position] CHECK CONSTRAINT [container_type_position_FK_2]
GO
