USE [perseus]
GO
/****** Object:  Table [dbo].[container_history]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container_history](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[history_id] [int] NOT NULL,
	[container_id] [int] NOT NULL,
 CONSTRAINT [container_history_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[container_history] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[container_history]  WITH CHECK ADD  CONSTRAINT [container_history_FK_1] FOREIGN KEY([history_id])
REFERENCES [dbo].[history] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[container_history] CHECK CONSTRAINT [container_history_FK_1]
GO
ALTER TABLE [dbo].[container_history]  WITH CHECK ADD  CONSTRAINT [container_history_FK_2] FOREIGN KEY([container_id])
REFERENCES [dbo].[container] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[container_history] CHECK CONSTRAINT [container_history_FK_2]
GO
