USE [perseus]
GO
/****** Object:  Table [dbo].[perseus_user]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perseus_user](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[domain_id] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[login] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[mail] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[admin] [int] NOT NULL,
	[super] [int] NOT NULL,
	[common_id] [int] NULL,
	[manufacturer_id] [int] NOT NULL,
 CONSTRAINT [perseus_user_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[domain_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[perseus_user] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[perseus_user] ADD  DEFAULT ((0)) FOR [admin]
GO
ALTER TABLE [dbo].[perseus_user] ADD  DEFAULT ((0)) FOR [super]
GO
ALTER TABLE [dbo].[perseus_user] ADD  DEFAULT ((1)) FOR [manufacturer_id]
GO
ALTER TABLE [dbo].[perseus_user]  WITH CHECK ADD  CONSTRAINT [FK__perseus_u__manuf__5B3C942F] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
ALTER TABLE [dbo].[perseus_user] CHECK CONSTRAINT [FK__perseus_u__manuf__5B3C942F]
GO
ALTER TABLE [dbo].[perseus_user]  WITH CHECK ADD  CONSTRAINT [FK__perseus_u__manuf__5E1900DA] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
ALTER TABLE [dbo].[perseus_user] CHECK CONSTRAINT [FK__perseus_u__manuf__5E1900DA]
GO
ALTER TABLE [dbo].[perseus_user]  WITH CHECK ADD  CONSTRAINT [FK__perseus_u__manuf__6001494C] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
ALTER TABLE [dbo].[perseus_user] CHECK CONSTRAINT [FK__perseus_u__manuf__6001494C]
GO
