USE [perseus]
GO
/****** Object:  Table [dbo].[property_option]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_option](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[property_id] [int] NOT NULL,
	[value] [int] NOT NULL,
	[label] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[disabled] [int] NOT NULL,
 CONSTRAINT [property_option_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[property_id] ASC,
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[property_id] ASC,
	[value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[property_option] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[property_option] ADD  DEFAULT ((0)) FOR [disabled]
GO
ALTER TABLE [dbo].[property_option]  WITH CHECK ADD  CONSTRAINT [property_option_FK_1] FOREIGN KEY([property_id])
REFERENCES [dbo].[property] ([id])
GO
ALTER TABLE [dbo].[property_option] CHECK CONSTRAINT [property_option_FK_1]
GO
