USE [perseus]
GO
/****** Object:  Table [dbo].[smurf_goo_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smurf_goo_type](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[smurf_id] [int] NOT NULL,
	[goo_type_id] [int] NULL,
	[is_input] [int] NOT NULL,
 CONSTRAINT [smurf_goo_type_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[smurf_goo_type] TO  SCHEMA OWNER 
GO
/****** Object:  Index [uniq_index]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uniq_index] ON [dbo].[smurf_goo_type]
(
	[smurf_id] ASC,
	[goo_type_id] ASC,
	[is_input] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[smurf_goo_type] ADD  DEFAULT ((0)) FOR [is_input]
GO
ALTER TABLE [dbo].[smurf_goo_type]  WITH CHECK ADD  CONSTRAINT [smurf_goo_type_FK_1] FOREIGN KEY([smurf_id])
REFERENCES [dbo].[smurf] ([id])
GO
ALTER TABLE [dbo].[smurf_goo_type] CHECK CONSTRAINT [smurf_goo_type_FK_1]
GO
ALTER TABLE [dbo].[smurf_goo_type]  WITH CHECK ADD  CONSTRAINT [smurf_goo_type_FK_2] FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[smurf_goo_type] CHECK CONSTRAINT [smurf_goo_type_FK_2]
GO
