USE [perseus]
GO
/****** Object:  Table [dbo].[migration]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migration](
	[id] [int] NOT NULL,
	[description] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[created_on] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[migration] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[migration] ADD  DEFAULT (getdate()) FOR [created_on]
GO
