USE [perseus]
GO
/****** Object:  Table [dbo].[unit]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unit](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[dimension_id] [int] NULL,
	[factor] [float] NULL,
	[offset] [float] NULL,
 CONSTRAINT [unit_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[unit] TO  SCHEMA OWNER 
GO
GRANT INSERT ON [dbo].[unit] TO [add_smurfs_and_units] AS [dbo]
GO
GRANT SELECT ON [dbo].[unit] TO [add_smurfs_and_units] AS [dbo]
GO
GRANT UPDATE ON [dbo].[unit] TO [add_smurfs_and_units] AS [dbo]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uix_unit_name]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uix_unit_name] ON [dbo].[unit]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
