USE [perseus]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[emailAddress] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[permission] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Permissions] TO  SCHEMA OWNER 
GO
GRANT DELETE ON [dbo].[Permissions] TO [Scraper] AS [dbo]
GO
GRANT INSERT ON [dbo].[Permissions] TO [Scraper] AS [dbo]
GO
GRANT SELECT ON [dbo].[Permissions] TO [Scraper] AS [dbo]
GO
GRANT UPDATE ON [dbo].[Permissions] TO [Scraper] AS [dbo]
GO
