USE [perseus]
GO
/****** Object:  Table [dbo].[tmp_messy_links]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_messy_links](
	[source_transition] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[source_name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[destination_transition] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[desitnation_name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[material_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[tmp_messy_links] TO  SCHEMA OWNER 
GO
