USE [perseus]
GO
/****** Object:  Table [dbo].[goo_type_combine_target]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goo_type_combine_target](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[goo_type_id] [int] NOT NULL,
	[sort_order] [int] NOT NULL,
 CONSTRAINT [goo_type_combine_target_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[goo_type_combine_target] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[goo_type_combine_target]  WITH CHECK ADD  CONSTRAINT [goo_type_combine_target_FK_1] FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[goo_type_combine_target] CHECK CONSTRAINT [goo_type_combine_target_FK_1]
GO
