USE [perseus]
GO
/****** Object:  Table [dbo].[smurf_group]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smurf_group](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[added_by] [int] NOT NULL,
	[is_public] [int] NOT NULL,
 CONSTRAINT [smurf_group_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__smurf_gr__72E12F1B1368499A] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[smurf_group] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[smurf_group] ADD  CONSTRAINT [DF__smurf_gro__is_pu__536DC016]  DEFAULT ((0)) FOR [is_public]
GO
ALTER TABLE [dbo].[smurf_group]  WITH CHECK ADD  CONSTRAINT [sg_creator_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[smurf_group] CHECK CONSTRAINT [sg_creator_FK_1]
GO
