USE [perseus]
GO
/****** Object:  Table [dbo].[goo_attachment]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goo_attachment](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[goo_id] [int] NOT NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
	[description] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[attachment_name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[attachment_mime_type] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[attachment] [image] NULL,
	[goo_attachment_type_id] [int] NULL,
 CONSTRAINT [goo_attachment_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[goo_attachment] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[goo_attachment] ADD  CONSTRAINT [DF__goo_attac__added__4CA06362]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[goo_attachment]  WITH CHECK ADD  CONSTRAINT [goo_attachment_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[goo_attachment] CHECK CONSTRAINT [goo_attachment_FK_1]
GO
ALTER TABLE [dbo].[goo_attachment]  WITH CHECK ADD  CONSTRAINT [goo_attachment_FK_2] FOREIGN KEY([goo_id])
REFERENCES [dbo].[goo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[goo_attachment] CHECK CONSTRAINT [goo_attachment_FK_2]
GO
ALTER TABLE [dbo].[goo_attachment]  WITH CHECK ADD  CONSTRAINT [goo_attachment_FK_3] FOREIGN KEY([goo_attachment_type_id])
REFERENCES [dbo].[goo_attachment_type] ([id])
GO
ALTER TABLE [dbo].[goo_attachment] CHECK CONSTRAINT [goo_attachment_FK_3]
GO
