USE [perseus]
GO
/****** Object:  Table [dbo].[robot_log_transfer]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot_log_transfer](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[robot_log_id] [int] NOT NULL,
	[source_barcode] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[destination_barcode] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[transfer_time] [datetime] NULL,
	[transfer_volume] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[source_position] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[destination_position] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[material_type_id] [int] NULL,
	[source_material_id] [int] NULL,
	[destination_material_id] [int] NULL,
 CONSTRAINT [robot_log_transfer_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[robot_log_transfer] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_robot_log_transfer_robot_log_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_robot_log_transfer_robot_log_id] ON [dbo].[robot_log_transfer]
(
	[robot_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[robot_log_transfer]  WITH CHECK ADD  CONSTRAINT [FK_robot_log_transfer_destination_material_id] FOREIGN KEY([destination_material_id])
REFERENCES [dbo].[goo] ([id])
GO
ALTER TABLE [dbo].[robot_log_transfer] CHECK CONSTRAINT [FK_robot_log_transfer_destination_material_id]
GO
ALTER TABLE [dbo].[robot_log_transfer]  WITH CHECK ADD  CONSTRAINT [FK_robot_log_transfer_source_material_id] FOREIGN KEY([source_material_id])
REFERENCES [dbo].[goo] ([id])
GO
ALTER TABLE [dbo].[robot_log_transfer] CHECK CONSTRAINT [FK_robot_log_transfer_source_material_id]
GO
ALTER TABLE [dbo].[robot_log_transfer]  WITH CHECK ADD  CONSTRAINT [robot_log_transfer_FK_1] FOREIGN KEY([robot_log_id])
REFERENCES [dbo].[robot_log] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[robot_log_transfer] CHECK CONSTRAINT [robot_log_transfer_FK_1]
GO
