USE [perseus]
GO
/****** Object:  Table [dbo].[external_goo_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[external_goo_type](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[goo_type_id] [int] NOT NULL,
	[external_label] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[manufacturer_id] [int] NOT NULL,
 CONSTRAINT [external_goo_type_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[external_label] ASC,
	[manufacturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[external_goo_type] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[external_goo_type]  WITH CHECK ADD  CONSTRAINT [external_goo_type_FK_1] FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[external_goo_type] CHECK CONSTRAINT [external_goo_type_FK_1]
GO
ALTER TABLE [dbo].[external_goo_type]  WITH CHECK ADD  CONSTRAINT [external_goo_type_FK_2] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
ALTER TABLE [dbo].[external_goo_type] CHECK CONSTRAINT [external_goo_type_FK_2]
GO
