USE [perseus]
GO
/****** Object:  Table [dbo].[cm_unit_dimensions]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_unit_dimensions](
	[id] [int] NOT NULL,
	[mass] [numeric](10, 2) NULL,
	[length] [numeric](10, 2) NULL,
	[time] [numeric](10, 2) NULL,
	[electric_current] [numeric](10, 2) NULL,
	[thermodynamic_temperature] [numeric](10, 2) NULL,
	[amount_of_substance] [numeric](10, 2) NULL,
	[luminous_intensity] [numeric](10, 2) NULL,
	[default_unit_id] [int] NOT NULL,
	[name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_cm_unit_dimensions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[cm_unit_dimensions] TO  SCHEMA OWNER 
GO
