USE [perseus]
GO
/****** Object:  Table [dbo].[transition_material]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transition_material](
	[transition_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[material_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__transiti__A691E4B26DCF7A5F] PRIMARY KEY CLUSTERED 
(
	[transition_id] ASC,
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[transition_material] TO  SCHEMA OWNER 
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_transition_material_material_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_transition_material_material_id] ON [dbo].[transition_material]
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[transition_material]  WITH NOCHECK ADD  CONSTRAINT [FK_transition_material_fatsmurf] FOREIGN KEY([transition_id])
REFERENCES [dbo].[fatsmurf] ([uid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[transition_material] CHECK CONSTRAINT [FK_transition_material_fatsmurf]
GO
ALTER TABLE [dbo].[transition_material]  WITH NOCHECK ADD  CONSTRAINT [FK_transition_material_goo] FOREIGN KEY([material_id])
REFERENCES [dbo].[goo] ([uid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[transition_material] CHECK CONSTRAINT [FK_transition_material_goo]
GO
/****** Object:  Trigger [dbo].[ValidateTransitionMaterial]    Script Date: 12/12/2025 11:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ValidateTransitionMaterial] ON [dbo].[transition_material]
FOR INSERT AS
BEGIN
	IF 
		(
			SELECT COUNT(*) FROM inserted ins
			JOIN transition_material tm ON ins.material_id = tm.material_id
			WHERE tm.transition_id != ins.transition_id
		) > 0
	BEGIN
		RAISERROR('A material cannot be the output of more than 1 process.', 16, 1)
		RETURN
	END
END
GO
ALTER TABLE [dbo].[transition_material] ENABLE TRIGGER [ValidateTransitionMaterial]
GO
