USE [perseus]
GO
/****** Object:  Table [dbo].[cm_application]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_application](
	[application_id] [int] NOT NULL,
	[label] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[is_active] [tinyint] NOT NULL,
	[application_group_id] [int] NULL,
	[url] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[owner_user_id] [int] NULL,
	[jira_id] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_cm_application] PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[cm_application] TO  SCHEMA OWNER 
GO
