USE [perseus]
GO
/****** Object:  Table [dbo].[poll_history]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poll_history](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[history_id] [int] NOT NULL,
	[poll_id] [int] NOT NULL,
 CONSTRAINT [poll_history_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[poll_history] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_history_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_history_id] ON [dbo].[poll_history]
(
	[poll_id] ASC
)
INCLUDE([history_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[poll_history]  WITH CHECK ADD  CONSTRAINT [poll_history_FK_1] FOREIGN KEY([history_id])
REFERENCES [dbo].[history] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[poll_history] CHECK CONSTRAINT [poll_history_FK_1]
GO
ALTER TABLE [dbo].[poll_history]  WITH CHECK ADD  CONSTRAINT [poll_history_FK_2] FOREIGN KEY([poll_id])
REFERENCES [dbo].[poll] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[poll_history] CHECK CONSTRAINT [poll_history_FK_2]
GO
