USE [perseus]
GO
/****** Object:  Table [dbo].[goo_type_combine_component]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goo_type_combine_component](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[goo_type_combine_target_id] [int] NOT NULL,
	[goo_type_id] [int] NOT NULL,
 CONSTRAINT [goo_type_combine_component_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[goo_type_combine_target_id] ASC,
	[goo_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[goo_type_combine_component] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[goo_type_combine_component]  WITH CHECK ADD  CONSTRAINT [goo_type_combine_component_FK_1] FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[goo_type_combine_component] CHECK CONSTRAINT [goo_type_combine_component_FK_1]
GO
ALTER TABLE [dbo].[goo_type_combine_component]  WITH CHECK ADD  CONSTRAINT [goo_type_combine_component_FK_2] FOREIGN KEY([goo_type_combine_target_id])
REFERENCES [dbo].[goo_type_combine_target] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[goo_type_combine_component] CHECK CONSTRAINT [goo_type_combine_component_FK_2]
GO
