USE [perseus]
GO
/****** Object:  Table [dbo].[feed_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feed_type](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[added_by] [int] NOT NULL,
	[updated_by_id] [int] NULL,
	[name] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[correction_method] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[correction_factor] [float] NOT NULL,
	[disabled] [bit] NOT NULL,
	[added_on] [datetime] NOT NULL,
	[updated_on] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[feed_type] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[feed_type] ADD  DEFAULT ('SIMPLE') FOR [correction_method]
GO
ALTER TABLE [dbo].[feed_type] ADD  DEFAULT ((1.0)) FOR [correction_factor]
GO
ALTER TABLE [dbo].[feed_type] ADD  DEFAULT ((0)) FOR [disabled]
GO
ALTER TABLE [dbo].[feed_type] ADD  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[feed_type] ADD  DEFAULT (getdate()) FOR [updated_on]
GO
ALTER TABLE [dbo].[feed_type]  WITH CHECK ADD FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[feed_type]  WITH CHECK ADD FOREIGN KEY([updated_by_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
