USE [perseus]
GO
/****** Object:  Table [dbo].[cm_unit_compare]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_unit_compare](
	[from_unit_id] [int] NOT NULL,
	[to_unit_id] [int] NOT NULL,
 CONSTRAINT [PK_cm_unit_compare] PRIMARY KEY CLUSTERED 
(
	[from_unit_id] ASC,
	[to_unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[cm_unit_compare] TO  SCHEMA OWNER 
GO
