USE [perseus]
GO
/****** Object:  Table [dbo].[smurf_property]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smurf_property](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[property_id] [int] NOT NULL,
	[sort_order] [int] NOT NULL,
	[smurf_id] [int] NOT NULL,
	[disabled] [int] NOT NULL,
	[calculated] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [smurf_property_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ__smurf_pr__92833C0B5BE2A6F2] UNIQUE NONCLUSTERED 
(
	[property_id] ASC,
	[smurf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[smurf_property] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[smurf_property] ADD  CONSTRAINT [DF__smurf_pro__sort___5DCAEF64]  DEFAULT ((99)) FOR [sort_order]
GO
ALTER TABLE [dbo].[smurf_property] ADD  CONSTRAINT [dv_sp_disabled]  DEFAULT ((0)) FOR [disabled]
GO
ALTER TABLE [dbo].[smurf_property]  WITH CHECK ADD  CONSTRAINT [smurf_property_FK_1] FOREIGN KEY([property_id])
REFERENCES [dbo].[property] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[smurf_property] CHECK CONSTRAINT [smurf_property_FK_1]
GO
ALTER TABLE [dbo].[smurf_property]  WITH CHECK ADD  CONSTRAINT [smurf_property_FK_2] FOREIGN KEY([smurf_id])
REFERENCES [dbo].[smurf] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[smurf_property] CHECK CONSTRAINT [smurf_property_FK_2]
GO
