USE [perseus]
GO
/****** Object:  Table [dbo].[field_map_display_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_map_display_type](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[field_map_id] [int] NOT NULL,
	[display_type_id] [int] NOT NULL,
	[display] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[display_layout_id] [int] NOT NULL,
	[manditory] [int] NOT NULL,
 CONSTRAINT [combined_field_map_display_type_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[field_map_id] ASC,
	[display_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[field_map_display_type] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[field_map_display_type] ADD  DEFAULT ((1)) FOR [display_layout_id]
GO
ALTER TABLE [dbo].[field_map_display_type] ADD  DEFAULT ((0)) FOR [manditory]
GO
ALTER TABLE [dbo].[field_map_display_type]  WITH CHECK ADD  CONSTRAINT [combined_field_map_display_type_FK_1] FOREIGN KEY([field_map_id])
REFERENCES [dbo].[field_map] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[field_map_display_type] CHECK CONSTRAINT [combined_field_map_display_type_FK_1]
GO
ALTER TABLE [dbo].[field_map_display_type]  WITH CHECK ADD  CONSTRAINT [combined_field_map_display_type_FK_2] FOREIGN KEY([display_type_id])
REFERENCES [dbo].[display_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[field_map_display_type] CHECK CONSTRAINT [combined_field_map_display_type_FK_2]
GO
ALTER TABLE [dbo].[field_map_display_type]  WITH CHECK ADD  CONSTRAINT [combined_field_map_display_type_FK_3] FOREIGN KEY([display_layout_id])
REFERENCES [dbo].[display_layout] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[field_map_display_type] CHECK CONSTRAINT [combined_field_map_display_type_FK_3]
GO
