USE [perseus]
GO
/****** Object:  Table [dbo].[goo_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goo_type](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[left_id] [int] NOT NULL,
	[right_id] [int] NOT NULL,
	[scope_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[disabled] [int] NOT NULL,
	[casrn] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iupac] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[depth] [int] NOT NULL,
	[abbreviation] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[density_kg_l] [float] NULL,
 CONSTRAINT [goo_type_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
 CONSTRAINT [UQ__goo_type__72A9F59B39237A9A] UNIQUE NONCLUSTERED 
(
	[left_id] ASC,
	[right_id] ASC,
	[scope_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ__goo_type__72E12F1B00551192] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[goo_type] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[goo_type] ADD  CONSTRAINT [DF__goo_type__disabl__69E9DAE2]  DEFAULT ((0)) FOR [disabled]
GO
ALTER TABLE [dbo].[goo_type] ADD  CONSTRAINT [DF__goo_type__depth__70940EA9]  DEFAULT ((0)) FOR [depth]
GO
