USE [perseus]
GO
/****** Object:  Table [dbo].[workflow]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflow](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
	[disabled] [int] NOT NULL,
	[manufacturer_id] [int] NOT NULL,
	[description] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[category] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [workflow_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ__workflow__72E12F1B00CBDB56] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[workflow] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[workflow] ADD  CONSTRAINT [DF__workflow__added___6EE562A1]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[workflow] ADD  CONSTRAINT [DF__workflow__added___1416E750]  DEFAULT ((23)) FOR [added_by]
GO
ALTER TABLE [dbo].[workflow] ADD  CONSTRAINT [DF__workflow__disabl__39486BFF]  DEFAULT ((0)) FOR [disabled]
GO
ALTER TABLE [dbo].[workflow]  WITH CHECK ADD  CONSTRAINT [workflow_creator_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[workflow] CHECK CONSTRAINT [workflow_creator_FK_1]
GO
ALTER TABLE [dbo].[workflow]  WITH CHECK ADD  CONSTRAINT [workflow_manufacturer_id_FK_1] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
ALTER TABLE [dbo].[workflow] CHECK CONSTRAINT [workflow_manufacturer_id_FK_1]
GO
