USE [perseus]
GO
/****** Object:  Table [dbo].[m_number]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_number](
	[id] [int] IDENTITY(900000,1) NOT NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[m_number] TO  SCHEMA OWNER 
GO
