USE [perseus]
GO
/****** Object:  Table [dbo].[robot_run]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot_run](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[robot_id] [int] NULL,
	[name] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[all_qc_passed] [bit] NULL,
	[all_themis_submitted] [bit] NULL,
 CONSTRAINT [robot_run_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[robot_run] TO  SCHEMA OWNER 
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniq_run_name]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uniq_run_name] ON [dbo].[robot_run]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[robot_run]  WITH CHECK ADD  CONSTRAINT [robot_run_FK_2] FOREIGN KEY([robot_id])
REFERENCES [dbo].[container] ([id])
GO
ALTER TABLE [dbo].[robot_run] CHECK CONSTRAINT [robot_run_FK_2]
GO
