USE [perseus]
GO
/****** Object:  Table [dbo].[history_value]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_value](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[history_id] [int] NOT NULL,
	[value] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [history_value_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[history_value] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_history_id_value]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_history_id_value] ON [dbo].[history_value]
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[history_value]  WITH CHECK ADD  CONSTRAINT [history_value_FK_1] FOREIGN KEY([history_id])
REFERENCES [dbo].[history] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[history_value] CHECK CONSTRAINT [history_value_FK_1]
GO
