USE [perseus]
GO
/****** Object:  Table [dbo].[robot_log]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot_log](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[class_id] [int] NOT NULL,
	[source] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_on] [datetime] NOT NULL,
	[log_text] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[file_name] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[robot_log_checksum] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[started_on] [datetime] NULL,
	[completed_on] [datetime] NULL,
	[loaded_on] [datetime] NULL,
	[loaded] [int] NOT NULL,
	[loadable] [int] NOT NULL,
	[robot_run_id] [int] NULL,
	[robot_log_type_id] [int] NOT NULL,
 CONSTRAINT [robot_log_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[robot_log] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_robot_log_robot_run_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_robot_log_robot_run_id] ON [dbo].[robot_log]
(
	[robot_run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[robot_log] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[robot_log] ADD  DEFAULT ((0)) FOR [loaded]
GO
ALTER TABLE [dbo].[robot_log] ADD  DEFAULT ((0)) FOR [loadable]
GO
ALTER TABLE [dbo].[robot_log]  WITH CHECK ADD FOREIGN KEY([robot_log_type_id])
REFERENCES [dbo].[robot_log_type] ([id])
GO
ALTER TABLE [dbo].[robot_log]  WITH CHECK ADD  CONSTRAINT [robot_log_FK_1] FOREIGN KEY([robot_run_id])
REFERENCES [dbo].[robot_run] ([id])
GO
ALTER TABLE [dbo].[robot_log] CHECK CONSTRAINT [robot_log_FK_1]
GO
