USE [perseus]
GO
/****** Object:  Table [dbo].[container]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[container_type_id] [int] NOT NULL,
	[name] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[uid] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[mass] [float] NULL,
	[left_id] [int] NOT NULL,
	[right_id] [int] NOT NULL,
	[scope_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[position_name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[position_x_coordinate] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[position_y_coordinate] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[depth] [int] NOT NULL,
	[created_on] [datetime] NULL,
 CONSTRAINT [container_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[container] TO  SCHEMA OWNER 
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_container_scope_id_left_id_right_id_depth]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_container_scope_id_left_id_right_id_depth] ON [dbo].[container]
(
	[scope_id] ASC,
	[left_id] ASC,
	[right_id] ASC,
	[depth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_container_type]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_container_type] ON [dbo].[container]
(
	[container_type_id] ASC
)
INCLUDE([id],[mass]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniq_container_uid]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uniq_container_uid] ON [dbo].[container]
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[container] ADD  CONSTRAINT [DF__container__left___44208F8E]  DEFAULT ((1)) FOR [left_id]
GO
ALTER TABLE [dbo].[container] ADD  CONSTRAINT [DF__container__right__4514B3C7]  DEFAULT ((2)) FOR [right_id]
GO
ALTER TABLE [dbo].[container] ADD  CONSTRAINT [DF__container__scope__4608D800]  DEFAULT (newid()) FOR [scope_id]
GO
ALTER TABLE [dbo].[container] ADD  CONSTRAINT [DF__container__depth__6F9FEA70]  DEFAULT ((0)) FOR [depth]
GO
ALTER TABLE [dbo].[container] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD  CONSTRAINT [container_FK_1] FOREIGN KEY([container_type_id])
REFERENCES [dbo].[container_type] ([id])
GO
ALTER TABLE [dbo].[container] CHECK CONSTRAINT [container_FK_1]
GO
