USE [perseus]
GO
/****** Object:  Table [dbo].[history]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[history_type_id] [int] NOT NULL,
	[creator_id] [int] NOT NULL,
	[created_on] [datetime] NOT NULL,
 CONSTRAINT [history_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[history] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[history] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [history_FK_1] FOREIGN KEY([creator_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [history_FK_1]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [history_FK_2] FOREIGN KEY([history_type_id])
REFERENCES [dbo].[history_type] ([id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [history_FK_2]
GO
