USE [perseus]
GO
/****** Object:  Table [dbo].[PerseusTableAndRowCounts]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerseusTableAndRowCounts](
	[TableName] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Rows] [char](11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[updated_on] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PerseusTableAndRowCounts] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[PerseusTableAndRowCounts] ADD  DEFAULT (getdate()) FOR [updated_on]
GO
