USE [perseus]
GO
/****** Object:  Table [dbo].[goo_history]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goo_history](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[history_id] [int] NOT NULL,
	[goo_id] [int] NOT NULL,
 CONSTRAINT [goo_history_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[goo_history] TO  SCHEMA OWNER 
GO
/****** Object:  Index [ix_goo_id]    Script Date: 12/12/2025 11:59:54 ******/
CREATE NONCLUSTERED INDEX [ix_goo_id] ON [dbo].[goo_history]
(
	[goo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[goo_history]  WITH CHECK ADD  CONSTRAINT [goo_history_FK_1] FOREIGN KEY([history_id])
REFERENCES [dbo].[history] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[goo_history] CHECK CONSTRAINT [goo_history_FK_1]
GO
ALTER TABLE [dbo].[goo_history]  WITH CHECK ADD  CONSTRAINT [goo_history_FK_2] FOREIGN KEY([goo_id])
REFERENCES [dbo].[goo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[goo_history] CHECK CONSTRAINT [goo_history_FK_2]
GO
