USE [perseus]
GO
/****** Object:  Table [dbo].[property]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[unit_id] [int] NULL,
 CONSTRAINT [property_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[property] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[property]  WITH CHECK ADD  CONSTRAINT [property_FK_1] FOREIGN KEY([unit_id])
REFERENCES [dbo].[unit] ([id])
GO
ALTER TABLE [dbo].[property] CHECK CONSTRAINT [property_FK_1]
GO
