USE [perseus]
GO
/****** Object:  Table [dbo].[m_downstream]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_downstream](
	[start_point] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[end_point] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[path] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[level] [int] NOT NULL,
 CONSTRAINT [m_downstream_PK] PRIMARY KEY CLUSTERED 
(
	[start_point] ASC,
	[end_point] ASC,
	[path] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[m_downstream] TO  SCHEMA OWNER 
GO
