USE [perseus]
GO
/****** Object:  Table [dbo].[submission_entry]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[submission_entry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[assay_type_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[status] [varchar](19) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[priority] [varchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[submission_id] [int] NOT NULL,
	[prepped_by_id] [int] NULL,
	[themis_tray_id] [int] NULL,
	[sample_type] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[submission_entry] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[submission_entry]  WITH CHECK ADD FOREIGN KEY([assay_type_id])
REFERENCES [dbo].[smurf] ([id])
GO
ALTER TABLE [dbo].[submission_entry]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[goo] ([id])
GO
ALTER TABLE [dbo].[submission_entry]  WITH CHECK ADD FOREIGN KEY([prepped_by_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[submission_entry]  WITH CHECK ADD FOREIGN KEY([submission_id])
REFERENCES [dbo].[submission] ([id])
GO
ALTER TABLE [dbo].[submission_entry]  WITH CHECK ADD CHECK  (([priority]='normal' OR [priority]='urgent'))
GO
ALTER TABLE [dbo].[submission_entry]  WITH CHECK ADD CHECK  (([sample_type]='overlay' OR [sample_type]='broth' OR [sample_type]='pellet' OR [sample_type]='none'))
GO
ALTER TABLE [dbo].[submission_entry]  WITH CHECK ADD  CONSTRAINT [CK__submissio__statu__7A4AC371] CHECK  (([status]='prepped' OR [status]='submitted_to_themis' OR [status]='prepping' OR [status]='error' OR [status]='to_be_prepped' OR [status]='rejected'))
GO
ALTER TABLE [dbo].[submission_entry] CHECK CONSTRAINT [CK__submissio__statu__7A4AC371]
GO
