USE [perseus]
GO
/****** Object:  Table [dbo].[goo_comment]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goo_comment](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[goo_id] [int] NOT NULL,
	[added_on] [datetime] NOT NULL,
	[added_by] [int] NOT NULL,
	[comment] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[category] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [goo_comment_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[goo_comment] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[goo_comment] ADD  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[goo_comment]  WITH CHECK ADD  CONSTRAINT [goo_comment_FK_1] FOREIGN KEY([added_by])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[goo_comment] CHECK CONSTRAINT [goo_comment_FK_1]
GO
ALTER TABLE [dbo].[goo_comment]  WITH CHECK ADD  CONSTRAINT [goo_comment_FK_2] FOREIGN KEY([goo_id])
REFERENCES [dbo].[goo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[goo_comment] CHECK CONSTRAINT [goo_comment_FK_2]
GO
