USE [perseus]
GO
/****** Object:  Table [dbo].[field_map_set]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_map_set](
	[id] [int] NOT NULL,
	[tab_group_id] [int] NULL,
	[display_order] [int] NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[size] [int] NULL,
 CONSTRAINT [field_map_set_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[field_map_set] TO  SCHEMA OWNER 
GO
