USE [perseus]
GO
/****** Object:  Table [dbo].[robot_log_error]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot_log_error](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[robot_log_id] [int] NOT NULL,
	[error_text] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [robot_log_error_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[robot_log_error] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[robot_log_error]  WITH CHECK ADD  CONSTRAINT [robot_log_error_FK_1] FOREIGN KEY([robot_log_id])
REFERENCES [dbo].[robot_log] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[robot_log_error] CHECK CONSTRAINT [robot_log_error_FK_1]
GO
