USE [perseus]
GO
/****** Object:  Table [dbo].[material_qc]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_qc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_id] [int] NOT NULL,
	[entity_type_name] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[foreign_entity_id] [int] NOT NULL,
	[qc_process_uid] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[material_qc] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[material_qc]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[goo] ([id])
GO
