USE [perseus]
GO
/****** Object:  Table [dbo].[prefix_incrementor]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prefix_incrementor](
	[prefix] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[counter] [int] NOT NULL,
 CONSTRAINT [prefix_incrementor_PK] PRIMARY KEY CLUSTERED 
(
	[prefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[prefix_incrementor] TO  SCHEMA OWNER 
GO
