USE [perseus]
GO
/****** Object:  Table [dbo].[cm_unit]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_unit](
	[id] [int] NOT NULL,
	[description] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[longname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[dimensions_id] [int] NULL,
	[name] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[factor] [numeric](20, 10) NULL,
	[offset] [numeric](20, 10) NULL,
 CONSTRAINT [PK_cm_unit_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[cm_unit] TO  SCHEMA OWNER 
GO
