USE [perseus]
GO
/****** Object:  Table [dbo].[s_number]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[s_number](
	[id] [int] IDENTITY(1100000,1) NOT NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[s_number] TO  SCHEMA OWNER 
GO
