USE [perseus]
GO
/****** Object:  Table [dbo].[coa]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coa](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[goo_type_id] [int] NOT NULL,
 CONSTRAINT [coa_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[goo_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[coa] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[coa]  WITH CHECK ADD  CONSTRAINT [coa_FK_1] FOREIGN KEY([goo_type_id])
REFERENCES [dbo].[goo_type] ([id])
GO
ALTER TABLE [dbo].[coa] CHECK CONSTRAINT [coa_FK_1]
GO
