USE [perseus]
GO
/****** Object:  Table [dbo].[material_inventory]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_id] [int] NOT NULL,
	[location_container_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[current_volume_l] [real] NULL,
	[current_mass_kg] [real] NULL,
	[created_by_id] [int] NOT NULL,
	[created_on] [datetime] NULL,
	[updated_by_id] [int] NULL,
	[updated_on] [datetime] NULL,
	[allocation_container_id] [int] NULL,
	[recipe_id] [int] NULL,
	[comment] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[expiration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[material_inventory] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[material_inventory]  WITH CHECK ADD FOREIGN KEY([allocation_container_id])
REFERENCES [dbo].[container] ([id])
GO
ALTER TABLE [dbo].[material_inventory]  WITH CHECK ADD FOREIGN KEY([created_by_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
ALTER TABLE [dbo].[material_inventory]  WITH CHECK ADD FOREIGN KEY([location_container_id])
REFERENCES [dbo].[container] ([id])
GO
ALTER TABLE [dbo].[material_inventory]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[goo] ([id])
GO
ALTER TABLE [dbo].[material_inventory]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipe] ([id])
GO
ALTER TABLE [dbo].[material_inventory]  WITH CHECK ADD FOREIGN KEY([updated_by_id])
REFERENCES [dbo].[perseus_user] ([id])
GO
