USE [perseus]
GO
/****** Object:  Table [demeter].[barcodes]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demeter].[barcodes](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[barcode] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[seedvial_id] [int] NOT NULL,
 CONSTRAINT [PK__barcodes__3213E83F5B2E79DB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unique_barcode] UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [demeter].[barcodes] TO  SCHEMA OWNER 
GO
