USE [perseus]
GO
/****** Object:  Table [hermes].[run_master_condition]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hermes].[run_master_condition](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[units] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[optional_order] [int] NULL,
	[created_on] [datetime] NULL,
	[available_in_view] [bit] NULL,
	[creator_id] [int] NULL,
	[condition_type_id] [int] NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK__run_mast__3213E83F4F48913A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [hermes].[run_master_condition] TO  SCHEMA OWNER 
GO
