USE [perseus]
GO
/****** Object:  Table [hermes].[run_condition_option]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hermes].[run_condition_option](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[value] [numeric](11, 3) NULL,
	[label] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[master_condition_id] [int] NULL,
 CONSTRAINT [PK__run_cond__3213E83F3C00B29C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [hermes].[run_condition_option] TO  SCHEMA OWNER 
GO
