USE [perseus]
GO
/****** Object:  Table [hermes].[run_condition]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hermes].[run_condition](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[default_value] [numeric](11, 3) NULL,
	[condition_set_id] [int] NULL,
	[master_condition_id] [int] NULL,
 CONSTRAINT [PK__run_cond__3213E83F2DB29345] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__run_cond__0BE79478308EFFF0] UNIQUE NONCLUSTERED 
(
	[condition_set_id] ASC,
	[master_condition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [hermes].[run_condition] TO  SCHEMA OWNER 
GO
