USE [perseus]
GO
/****** Object:  Table [hermes].[run_condition_value]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hermes].[run_condition_value](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[value] [numeric](11, 3) NULL,
	[master_condition_id] [int] NULL,
	[updated_on] [datetime] NULL,
	[run_id] [int] NULL,
 CONSTRAINT [PK__run_cond__3213E83F7350E786] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__run_cond__F335000F762D5431] UNIQUE NONCLUSTERED 
(
	[run_id] ASC,
	[master_condition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [hermes].[run_condition_value] TO  SCHEMA OWNER 
GO
