USE [perseus]
GO
/****** Object:  Table [sy_dba].[sy_jobs_stats_monitoring]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sy_dba].[sy_jobs_stats_monitoring](
	[jobname] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[step] [int] NULL,
	[stepname] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[rundatetime] [datetime] NULL,
	[run_duration_seconds] [int] NULL,
	[run_duration_minutes] [int] NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [sy_dba].[sy_jobs_stats_monitoring] TO  SCHEMA OWNER 
GO
