USE [perseus]
GO
/****** Object:  Table [sy_dba].[sy_index_stats_monitoring]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sy_dba].[sy_index_stats_monitoring](
	[table_name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[index_name] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_seeks] [int] NULL,
	[user_scans] [int] NULL,
	[user_lookups] [int] NULL,
	[user_updates] [int] NULL,
	[date] [datetime] NULL,
	[disable_date] [datetime] NULL,
	[enable_date] [datetime] NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [sy_dba].[sy_index_stats_monitoring] TO  SCHEMA OWNER 
GO
ALTER TABLE [sy_dba].[sy_index_stats_monitoring] ADD  DEFAULT (getdate()) FOR [date]
GO
