USE [perseus]
GO
/****** Object:  UserDefinedFunction [dbo].[GetExperiment]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetExperiment] (@HermesUid NVARCHAR(50))
    RETURNS INT
AS
BEGIN
    DECLARE @Experiment INT

    SET @Experiment = PARSENAME(REPLACE(REPLACE(@HermesUid, 'H', ''), '-', '.'), 2)

    RETURN @Experiment
END
GO
ALTER AUTHORIZATION ON [dbo].[GetExperiment] TO  SCHEMA OWNER 
GO
