USE [perseus]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_datetrunc]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE FUNCTION [dbo].[udf_datetrunc] (@Datein datetime)
    RETURNS Datetime
    AS BEGIN
    RETURN cast(floor(cast(@Datein as float)) as datetime);
    END
GO
ALTER AUTHORIZATION ON [dbo].[udf_datetrunc] TO  SCHEMA OWNER 
GO
