USE [perseus]
GO
/****** Object:  UserDefinedFunction [dbo].[GetHermesUid]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetHermesUid] (@ExperimentId INT, @RunId INT)
    RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Uid NVARCHAR(50)

    SET @Uid = 'H'+CAST(@ExperimentId AS NVARCHAR(25)) + '-' + CAST(@RunId AS NVARCHAR(25))

    RETURN @Uid
END
GO
ALTER AUTHORIZATION ON [dbo].[GetHermesUid] TO  SCHEMA OWNER 
GO
