USE [perseus]
GO
/****** Object:  UserDefinedFunction [dbo].[GetDownStreamContainers]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDownStreamContainers](@StartPoint INT, @StartTime DATETIME, @EndTime DATETIME) 
RETURNS @Paths TABLE (start_point INT, end_point INT, neighbor INT, path VARCHAR(250), level INT)

AS BEGIN

	IF @EndTime IS NULL
		SET @EndTime = GETDATE()
	
	IF @StartTime IS NULL
		SET @StartTime = GETDATE()

	;WITH upstream
	AS
	(
		SELECT ct.child_container_id AS start_point, ct.parent_container_id AS parent, ct.child_container_id AS child, CAST('/' AS VARCHAR(255)) AS path, 1 AS level
		FROM container_relationship ct
		WHERE ct.parent_container_id = @StartPoint
		AND ct.relationship_start <= @EndTime
		AND @StartTime <= ISNULL(ct.relationship_end, GETDATE())
		
		UNION ALL
	   
		SELECT r.start_point, ct.parent_container_id, ct.child_container_id, CAST(r.path + CAST(r.child AS VARCHAR(25)) + '/' AS VARCHAR(255)), r.level + 1
		FROM container_relationship ct
		JOIN upstream r ON ct.parent_container_id = r.child
		WHERE ct.relationship_start <= @EndTime
		AND @StartTime <= ISNULL(ct.relationship_end, GETDATE())
	)
	
	INSERT INTO @Paths
	SELECT start_point, child AS end_point, parent, path, level FROM upstream
	
	INSERT INTO @Paths VALUES
	(@StartPoint, @StartPoint, NULL, '', 0)

	RETURN;
END
GO
ALTER AUTHORIZATION ON [dbo].[GetDownStreamContainers] TO  SCHEMA OWNER 
GO
