USE [perseus]
GO
/****** Object:  UserDefinedFunction [dbo].[McGetUpDownStream]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[McGetUpDownStream](@StartPoint VARCHAR(50)) 
RETURNS @Paths TABLE (start_point VARCHAR(50), end_point VARCHAR(50), neighbor VARCHAR(50), path VARCHAR(500), level INT)

AS BEGIN

	INSERT INTO @Paths
	SELECT * FROM dbo.McGetUpstream(@StartPoint)
	
	INSERT INTO @Paths
	SELECT * FROM dbo.McGetDownstream(@StartPoint)
	
	DELETE FROM @Paths WHERE end_point = @StartPoint
	
	INSERT INTO @Paths VALUES
	(@StartPoint, @StartPoint, NULL, '', 0)

	RETURN;
END
GO
ALTER AUTHORIZATION ON [dbo].[McGetUpDownStream] TO  SCHEMA OWNER 
GO
