USE [perseus]
GO
/****** Object:  UserDefinedFunction [dbo].[RoundDateTime]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RoundDateTime] (@InputDateTime DATETIME)
	RETURNS DATETIME
AS
BEGIN
	DECLARE @ReturnDateTime DATETIME
	SET @ReturnDateTime = DATEADD(MINUTE, DATEDIFF(MINUTE, 0, @InputDateTime), 0)

	RETURN @ReturnDateTime
END
GO
ALTER AUTHORIZATION ON [dbo].[RoundDateTime] TO  SCHEMA OWNER 
GO
