USE [perseus]
GO
/****** Object:  UserDefinedTableType [dbo].[GooList]    Script Date: 12/12/2025 11:59:53 ******/
CREATE TYPE [dbo].[GooList] AS TABLE(
	[uid] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
ALTER AUTHORIZATION ON TYPE::[dbo].[GooList] TO  SCHEMA OWNER 
GO
