USE [perseus]
GO
/****** Object:  View [dbo].[vw_tom_perseus_sample_prep_materials]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_tom_perseus_sample_prep_materials] AS
  SELECT ds.end_point AS material_id 
    FROM goo g
    JOIN m_downstream ds ON ds.start_point = g.uid
   WHERE g.goo_type_id IN (40, 62)
UNION
  SELECT g.uid AS material_id 
    FROM goo g 
   WHERE g.goo_type_id IN (40, 62)


GO
ALTER AUTHORIZATION ON [dbo].[vw_tom_perseus_sample_prep_materials] TO  SCHEMA OWNER 
GO
