USE [perseus]
GO
/****** Object:  View [dbo].[downstream]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[downstream]
AS
WITH downstream
AS
(
    SELECT pt.source_material AS start_point, pt.source_material AS parent, pt.destination_material AS child, CAST('/' AS VARCHAR(255)) AS path, 1 AS level
    FROM translated pt
    UNION ALL
   
    SELECT r.start_point, pt.source_material, pt.destination_material, CAST(r.path + r.child + '/' AS VARCHAR(255)), r.level + 1
    FROM translated pt
    JOIN downstream r ON pt.source_material = r.child
    WHERE pt.source_material != pt.destination_material
)

SELECT start_point, child AS end_point, path, level FROM downstream
GO
ALTER AUTHORIZATION ON [dbo].[downstream] TO  SCHEMA OWNER 
GO
