USE [perseus]
GO
/****** Object:  View [dbo].[vw_processable_logs]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_processable_logs] AS

SELECT rl.* FROM robot_log rl
JOIN robot_log_type rlt ON rlt.id = rl.robot_log_type_id
WHERE ISNULL(rl.loaded, 0 ) = 0
AND NOT EXISTS (
		SELECT * FROM robot_log_error rle 
		JOIN robot_log rl_c ON rle.robot_log_id = rl_c.id
		WHERE rle.robot_log_id = rl_c.id
		AND rl_c.robot_run_id = rl.robot_run_id
	)
AND rl.id IN (SELECT MIN(id) FROM robot_log rl_d GROUP BY robot_log_checksum)
AND (EXISTS (SELECT * FROM robot_log_read rlr WHERE rlr.robot_log_id = rl.id) OR EXISTS (SELECT * FROM robot_log_transfer rlt WHERE rlt.robot_log_id = rl.id))
AND ISNULL(rl.loadable, 0) = 1
AND rl.created_on > DATEADD(MONTH, -1, GETDATE())

GO
ALTER AUTHORIZATION ON [dbo].[vw_processable_logs] TO  SCHEMA OWNER 
GO
