USE [perseus]
GO
/****** Object:  View [dbo].[vw_lot_path]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_lot_path] AS
SELECT
  sl.id AS src_lot_id,
  dl.id AS dst_lot_id,
  mu.path,
  mu.level AS length
FROM
  m_upstream mu
JOIN vw_lot sl ON sl.uid = mu.end_point
JOIN vw_lot dl ON dl.uid = mu.start_point

GO
ALTER AUTHORIZATION ON [dbo].[vw_lot_path] TO  SCHEMA OWNER 
GO
