USE [perseus]
GO
/****** Object:  View [dbo].[combined_field_map_display_type]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Display View
CREATE VIEW [dbo].[combined_field_map_display_type] AS
SELECT [id]
      ,[field_map_id]
      ,[display_type_id]
      ,[display]
      ,[display_layout_id] 
      ,manditory
      FROM dbo.field_map_display_type
UNION
SELECT * FROM combined_sp_field_map_display_type
GO
ALTER AUTHORIZATION ON [dbo].[combined_field_map_display_type] TO  SCHEMA OWNER 
GO
