USE [perseus]
GO
/****** Object:  View [dbo].[combined_field_map_block]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[combined_field_map_block] AS
SELECT id, filter, scope FROM field_map_block
UNION
-- All FatSmurf Readings
SELECT 
id + 1000,
'isSmurf('+CONVERT(VARCHAR(10), id)+')', 'FatSmurfReading' 
FROM smurf
UNION
-- Fields for fatsmurf list and csv
SELECT 
id + 2000,
'isSmurf('+CONVERT(VARCHAR(10), id)+')', 'FatSmurf' 
FROM smurf
UNION
-- for single reading fatsmurf editing
SELECT 
id + 3000,
'isSmurfWithOneReading('+CONVERT(VARCHAR(10), id)+')', 'FatSmurf' 
FROM smurf
GO
ALTER AUTHORIZATION ON [dbo].[combined_field_map_block] TO  SCHEMA OWNER 
GO
