USE [perseus]
GO
/****** Object:  View [dbo].[combined_field_map]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Field Views
CREATE VIEW [dbo].[combined_field_map] AS
SELECT [id]
      ,[field_map_block_id]
      ,[name]
      ,[description]
      ,[display_order]
      ,[setter]
      ,[lookup]
      ,[lookup_service]
      ,[nullable]
      ,[field_map_type_id]
      ,[database_id]
      ,[save_sequence]
      ,[onchange] 
      ,field_map_set_id
      FROM field_map
UNION
SELECT * FROM combined_sp_field_map
GO
ALTER AUTHORIZATION ON [dbo].[combined_field_map] TO  SCHEMA OWNER 
GO
