USE [perseus]
GO
/****** Object:  View [dbo].[upstream]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[upstream] AS 
WITH upstream
AS
(
    SELECT pt.destination_material AS start_point, pt.destination_material AS parent, pt.source_material AS child, CAST('/' AS VARCHAR(255)) AS path, 1 AS level
    FROM translated pt
    UNION ALL
   
    SELECT r.start_point, pt.destination_material, pt.source_material, CAST(r.path + r.child + '/' AS VARCHAR(255)), r.level + 1
    FROM translated pt
    JOIN upstream r ON pt.destination_material = r.child
    WHERE pt.destination_material != pt.source_material
)

SELECT start_point, child AS end_point, path, level FROM upstream
GO
ALTER AUTHORIZATION ON [dbo].[upstream] TO  SCHEMA OWNER 
GO
