USE [perseus]
GO
/****** Object:  View [dbo].[goo_relationship]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[goo_relationship] AS
SELECT id AS parent, merged_into AS child
FROM goo
WHERE merged_into IS NOT NULL
UNION
SELECT p.id, c.id
FROM goo p
JOIN fatsmurf fs ON fs.goo_id = p.id
JOIN goo c ON c.source_process_id = fs.id
UNION
SELECT i.id, o.id
FROM hermes.run r
JOIN goo i ON i.uid = r.feedstock_material
JOIN goo o ON o.uid = r.resultant_material
WHERE ISNULL(r.feedstock_material, '') != ISNULL(r.resultant_material, '')
GO
ALTER AUTHORIZATION ON [dbo].[goo_relationship] TO  SCHEMA OWNER 
GO
