USE [perseus]
GO
/****** Object:  View [dbo].[translated]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[translated] WITH SCHEMABINDING  AS
SELECT mt.material_id AS source_material, tm.material_id AS destination_material, mt.transition_id
FROM dbo.material_transition mt
JOIN dbo.transition_material tm ON tm.transition_id = mt.transition_id

GO
ALTER AUTHORIZATION ON [dbo].[translated] TO  SCHEMA OWNER 
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [ix_materialized]    Script Date: 12/12/2025 11:59:54 ******/
CREATE UNIQUE CLUSTERED INDEX [ix_materialized] ON [dbo].[translated]
(
	[destination_material] ASC,
	[source_material] ASC,
	[transition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
