USE [perseus]
GO
/****** Object:  View [dbo].[material_transition_material]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[material_transition_material] AS
SELECT source_material AS start_point, transition_id, destination_material AS end_point FROM translated
GO
ALTER AUTHORIZATION ON [dbo].[material_transition_material] TO  SCHEMA OWNER 
GO
