USE [perseus]
GO
/****** Object:  View [dbo].[vw_material_transition_material_up]    Script Date: 12/12/2025 11:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP VIEW [dbo].[vw_material_transition_material_up]

CREATE VIEW [dbo].[vw_material_transition_material_up] WITH SCHEMABINDING  AS

  SELECT mt.material_id AS source_uid,
         tm.material_id AS destination_uid,
         tm.transition_id AS transition_uid
    FROM dbo.transition_material AS tm
	LEFT OUTER JOIN dbo.material_transition mt ON tm.transition_id = mt.transition_id


GO
ALTER AUTHORIZATION ON [dbo].[vw_material_transition_material_up] TO  SCHEMA OWNER 
GO
